PORT = 3000 

DB_NAME = Nombre de la base de datos
DB_USER = usuario de la base de datos
DB_PASSWORD = contraseña de la base de datos
DB_HOST = host de la base de datos
DB_PORT = puerto de la base de datos
DB_TYPE = tipo de base de datos (mysql, postgresql, etc.)

URL_FRONTEND = tus datos

MDB_URL_PRODUCTION =  tus datos
HOST_MAILTRAP = tus datos
PORT_MAILTRAP = tus datos
USER_MAILTRAP = tus datos
PASS_MAILTRAP = tus datos

JWT_SECRET = tus datos

VITE_BACKEND_URL = tus datos